<html>
<head>
	<title>insert details</title>
</head>
<body>
<!-- 
<% form_for(:Sand,:url=>{:controller=>"sand",:action=>"update2"}) do |f| %>
username<%= f.text_field("username")%>	<br>
password<%= f.text_field("password")%>	
<%= f.submit_tag("submit") %>	
<% end %> -->




</body>
</html>