<html>
<head>
	<title>insert details</title>
</head>
<body>
<form>
	username <input type="text" id="username" name="username" /> </br>
	password <input type="text" id="password" name="password" /> 
	<input type="submit" />
</form>	
</body>
</html>