<html>
<head>
	<title>show</title>
</head>
<body>
	<%=@msg%>

	<% @s.each do |u|%>
	<%=u.username %>
	<%= link_to("delete",{:controller=>"Sand",:action=>"delete",:id=>u.id}) %>
	<%= link_to("update",{:controller=>"Sand",:action=>"update",:id=>u.id}) %><br>

	<% end%>

	<head>head lag gya</head>

</body>
</html>